ul.img-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.img-list li {
    display: inline-block;
    height: 150px;
    margin: 0 1em 1em 0;
    position: relative;
    width: 150px;
}

span.text-content{
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 335px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1176px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

span.text-content span{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#header{
    margin-bottom: 0px;
}

.nav{
    font-family: Roboto Slab;
    background-color: black;
    color: gray;
    font-size: 11px;
    font-weight: bold;
    padding: 14px 10px;
    border-bottom: 1px solid #dbdbdb;
}

.nav a{
    /*	color: #528401;*/
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.nav a:hover{
    color: #eff358;
    text-decoration: none;
}

.nav a:active{
    color: #af2d45;
}

.nav li{
    display: inline;
    margin-right: 65px;
    margin-left: 65px;
}

/*home*/
#flag div{
    height: 5px;
}
#content{
    color: black;
}

.jumbotron{
    background-image: url('http://upload.wikimedia.org/wikipedia/commons/d/dd/Lake_Oku_Cameroon.jpg');
    color: white;
    font-family: Pacifico;
    height: 700px;
    border-bottom: 1px solid #dbdbdb;
}

.jumbotron h1{
    top: 20px;
}

#footer{
    color: black;
    text-align: center;
    bottom: 0px;
}

#learn-more h3{
    color: #528401;
    font-family: Arvo;
}

#learn-more p{
    font-family: Arvo;
}


#learn-more{
    padding-top: 20px;
    padding-bottom: 20px;
}

.jumbotron div{
    position: relative;
    top: 400 px;
}

.footer{
    /*	background-color: #e6dde1;*/
    background-color: black;
    color: white;
    height: 250px;
    border-top: 1px solid #dbdbdb;
    text-align: left;
    min-height: 100px;
    padding: 60px 0 79px;
    margin: 0;
    width: 100%;
}

/*about*/
.panel{
    /*	text-align: center;*/
    /*	width: 400px;*/
    padding-top: 20px;
    /*	margin-left: 400px;*/
}

.col-lg-4{
    text-align: center;
}



/*events*/

.col-xs-3{
    text-align: center
}

.eventgrid{
    width: 100%;
}

.eventgrid div{
    padding: 15px;
}

.wostockpanel{
    opacity: 90%;
    width:100%;
    position: relative;
    text-align: center;
}

h1{
    font-family: Roboto Slab;
}

.wostockpanel h1{
    color: white;
    position: absolute; 
    top: 130px; 
    left: 0; 
    width: 100%; 
}

/*
.wostockpanel p{
    color: white;
    position: absolute; 
    top: 200px; 
    left: 0; 
    width: 100%; 
    font: bold 22px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0);  fallback color 
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
}
*/

.stuffthebuspanel{
    text-align: center;
    position: relative;
    opacity: 90%;
}
.stuffthebuspanel h1{
    color: white;
    position: absolute; 
    top: 130px; 
    left: 0; 
    width: 100%; 
}

.stuffthebuspanel p{
    color: white;
    position: absolute; 
    top: 200px; 
    left: 0; 
    width: 100%; 
    font: bold 22px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
}

.snowballbanner{
    text-align: center;
    position: relative;
    opacity: 90%;
}

.snowballbanner h1{
    color: white;
    position: absolute; 
    top: 130px; 
    left: 0; 
    width: 100%; 
}
/*
.snowballbanner p{
    color: white;
    position: absolute; 
    top: 200px; 
    left: 0; 
    width: 100%; 
    font: bold 22px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
}*/

/*contact*/

.contactform{
    border: 4px;
    width: 400px;
    margin-left: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
}